<%- include('partials/header.ejs') %>
    <% if (locals.data) { %>
        <h1><%- data.id %> </h1>
        <p><%- data.title %></p>
        <p><%- data.description %></p>
        <% } %>
            <%- include('partials/footer.ejs') %>